.virt
media/
djangoecommerce/.DS_Store
djangoecommerce/db.sqlite3
djangoecommerce/djangoecommerce/__pycache__/settings.cpython-311.pyc
djangoecommerce/djangoecommerce/__pycache__/urls.cpython-311.pyc
djangoecommerce/static/.DS_Store
djangoecommerce/store/__pycache__/admin.cpython-311.pyc
djangoecommerce/store/__pycache__/models.cpython-311.pyc
djangoecommerce/store/migrations/__pycache__/0001_initial.cpython-311.pyc
djangoecommerce/store/templates/.DS_Store
.DS_Store
