{% extends 'base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to my shop</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br /><br />
                <p align="justify">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem quos provident quibusdam culpa, sit harum corporis cumque deserunt. Molestias necessitatibus dolores illo vitae perferendis laudantium ipsa in sunt quos eum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, qui dignissimos in officiis aliquam, adipisci cupiditate mollitia ex nam atque modi aut amet earum voluptates quibusdam. Obcaecati numquam eligendi explicabo?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati hic voluptate eius officia ducimus illo numquam atque vitae optio facilis! Dignissimos minima neque quibusdam consequuntur rerum autem omnis, nostrum nulla.

                </p>
                <br /><br />
            </div>
        </center>
    </div>
</div>
{% endblock %}